/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

body{
    font-family: 'Mulish', sans-serif;
}
main,header{
    max-width: 1200px;
    margin:0 auto;
}

.primary-color{
    color: #FF5400 !important;
}

.common-description{
    font-size: 1rem;
    font-weight: 400;
}
.common-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318 ;
}

.common-btn{
    background-color: #FF5400;
    border-radius: 8px;
    padding: 14px 10px;
    color: white;
    border: none;   
    cursor: pointer;
    font-weight: 800;
    font-size: 1.25;
}

body hr{
    color: rgba(19, 19, 24, 0.1);
}

/* nav styles */
.nav-section{
   
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}
.nav-container{
    min-height: 40px;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50%;
    font-weight: 800;
  }
  .nav-container img{
    width: 60px;
  }
  .nav-container p{
    font-size: 2.2rem;
  }

  .items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .items-container a{
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
  }

  /* banner styles */
  .banner-section{
    margin-top: 3rem;
    height: 60vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('../Images/Group13.png') ;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100%; */
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.banner-text{
    text-align: center;
    color: white;
}

.banner-text h1{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.banner-text p{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.banner-btn{
    display: flex;
    gap: 1.5rem;
}

.banner-input{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    
}

.banner-btn input, select, button{
    width: 9.373rem;
    padding: 15px 10px;
    color: grey;
    border-radius: 8px;
    border:none;
}

.banner-input button{
    background-color: #FF5400;
    color: white;
    border: none;
   
    cursor: pointer;
}
.fa-angle-down{
    position: relative;
    right: 1.5rem;
}

/* our popular tours style */

.tours{
    margin-top: 100px;
    display: flex;
    gap: 3.5rem;
    justify-content: space-between;
    max-height: 500px;
}

.tours-text{
    
    flex: 1;
}
.tours-text h1, .tours-text p{
    margin-bottom: 1.5rem;
}
.tours-img{
    
    flex:1;
}
.tours-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
}
.bullet-point{
    display: list-item; 
    list-style-type: disc; 
    list-style-position: inside; 
    margin-left: 40px;
}

/* choose your destination styles */
.destination{
    margin-top: 100px;
    text-align: center;
}

.destination h1{
    margin-bottom: 1.5rem;
}
.destination p{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.destination-img{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1.25rem;
}

.destination-single-img {
    position: relative;
    text-align: center;
}
.destination-single-img img {
    width: 100%;
    height: 100%;
    /* display: block; */
    object-fit: cover; 
    border-radius: 20px;
}

.grid-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 1.75rem; 
    font-weight: 800; 
}

#item1{
    grid-column: 1/span 6;
}
#item2{
    grid-column: 7/span 6;
}
#item3{
    grid-column: 1/span 3;
}
#item4{
    grid-column: 4/span 6;
}
#item5{
    grid-column: 10/span 3;
}
#item6{
    grid-column: 1/span 5;
}
#item7{
    grid-column: 6/span 7;
}

/* why choose us styles */
.choose-us{
    margin-top: 100px;
}
.choose-us-text{
    text-align: center;
}
.choose-us-text p{
    width: 50%;
    margin: 0 auto;
}

.single-card1, .single-card2,.single-card3{
    /* width: 50%; */
    padding: 2rem;
}
.single-card1{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.single-card2{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}

.single-card3{
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}
.choose-card-container img{
    margin-bottom: 2rem;
}
.choose-card-container h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318 ;
}
.choose-card-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1.5rem;
    /* width: 100%;
    height: 100%; */
}

.single-card1{
    grid-column: 1/span 6;
}
.single-card2{
    grid-column: 7/span 6;
}
.single-card3{
    grid-column: 4/span 6;
}

/* rating styles */

.rating-container{
    margin-top: 100px;
}
.rating-container h3{
    text-align: center;
    margin-bottom: 1.5rem;
}
.review-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 120px;
}
.review-box{
    height: 20vh;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin:15px;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 35px;
    margin-right: 10px;
}
.box-top{
    display: flex;
    justify-content: space-between;
}
.profile{
    display: flex;
    align-items: center;
}
.review-star{
    color: gold;
}
.reviews{
    text-align: justify;
    font-size: 15px;
}

/* Newsletter styles */
.newsletter{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
   

}
.newsletter-text{
    border: 2px solid #FF5400;
    border-radius: 1rem;
    width: 40%;
    padding: 40px;
}
.newsletter h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
}
.newsletter-img{
    width: 60%;
    position: relative;
   
}
.newsletter-img img{
    width: 100%;
    position: relative;
}
.discount-tag{
    background-color: #FF5400;
    color: white;
    text-align: center;
    width: max-content;
    padding: 15px;
    border-radius: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(11%) translateY(-50%);
    rotate: -30deg;
    
}

.discount-tag p{
    font-size: 1.5rem;
}

.discount-tag h3{
    font-size: 2rem;
}


.newsletter-input{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
   

}
.newsletter-input input[type="text"],
.newsletter-input input[type="email"]{
    padding: 1rem 1.25rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

/* footer styles */
footer{
    margin-top: 100px;
    min-height: 400px;
    background-color: rgba(19, 19, 24, 0.05);;
}
.footer-content{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 5rem 8rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    font-size: 2rem ;
    margin-bottom: 1rem;
}
.footer-content>p{
    width: 70%;
    margin: 0 auto;
}
.footer-icon{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    margin-bottom: 3rem;
}

footer hr{
    margin-bottom: 3rem;
}
